.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: sticky;
    font-size: 12px;
    height: 100px;
    z-index: 9999;
}